<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="{% static 'css/style.css' static %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Eight</title>
  </head>
  <body class="colorize">
    <div class="container">
      <h1 id="header">Search your book here!</h1>
      <form class="form-control-lg md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" placeholder="Search" type="search" id="searchBox" name="" value="">
      </form>
      <table class="table" id="myTable">
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/script.js' static %}"></script>
    <script src="https://kit.fontawesome.com/d84e10c88d.js" crossorigin="anonymous"></script>
  </body>
</html>
